
.icon-bell:before { content: '\2302'; } /* '⌂' */
.icon-newspaper:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-edit:before { content: '\e802'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */